rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function validImage() {
      return request.resource.contentType.matches('image/.*')
        && request.resource.size < 10 * 1024 * 1024;
    }

    match /images/{fileName} {
      allow read: if signedIn();
      allow write: if signedIn() && validImage();
    }

    match /profile-images/{fileName} {
      allow read: if signedIn();
      allow write: if signedIn() && validImage();
    }
  }
}